.productdisplay{
    display: flex;
    margin: 0px 170px;
}
.productdisplay-left{
    display: flex;
    gap: 16px;
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.productdisplay-img-list img{
    height: 163px;
}
.productdisplay-main-img{
    width: 586px;
    height: 700px;
}
.productdisplay-right{
    margin: 0px 170px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: black;
    font-size: 22px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-old-prices{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-new-prices{
    color: #f00202;
    
}
.productdisplay-right-size h1{
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 700;
}
.productdisplay-right-size{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.productdisplay-right-size div{
    padding: 18px 24px;
    background: white;
    border:1px solid #ebebebeb;
    border-radius: 3px;
    cursor: pointer;
}

 .productdisplay-right button{
   padding: 20px 40px;
   width: 200px;
   font-size: 16px;
   font-weight: 600;
   color: white;
   background: #f00202;
   margin-bottom: 40px;
   border: none;
   cursor: pointer;
}
.productdisplay-right-category{
    margin-top: 10px;
}
.productdisplay-right-category span{
font-weight: 600;
}





       